* {
    box-sizing: border-box;
  }
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav {
  background-color: #000;
  padding: .5em;
  top: 0;
  position: sticky;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

head{
    text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;

  link {color: #FFFFFF;} 
  visited {color: #060235;}  
  hover {color: #EEBC1D;}  
  active {color: #C0F0FC;}
}

body {

    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    border: solid,  #9B0000 , 10px;
    color: #9B0000;
    background-image: url('https://github.com/bodhin1121/bodhin1121.github.io/blob/main/img/Background.png');

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

h1 {
    color: #9B0000;

    font-family: articulat-cf, sans-serif;

    font-weight: 250;
    
    font-style: normal;
  }

  h2 {
    color: #9B0000;

    font-family: articulat-cf, sans-serif;

    font-weight: 200;
    
    font-style: normal;
  }

  address{
    text-align: center;
  }

